# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

#menu "Zephyr"
#source "Kconfig.zephyr"
#endmenu

module = APP
module-str = APP

menu "MSC sample options"

choice
	prompt "Storage and file system type used by the application"
	default APP_MSC_STORAGE_FLASH_FATFS
	help
	  Specify the type of storage and file system.

config APP_MSC_STORAGE_FLASH_FATFS
	bool "Use FLASH disk and FAT file system"
	imply DISK_DRIVERS
    imply DISK_ACCESS
	imply FILE_SYSTEM
	imply FAT_FILESYSTEM_ELM
    imply FILE_SYSTEM_MKFS
    imply FS_FATFS_FSTAB_AUTOMOUNT

endchoice

config MASS_STORAGE_DISK_NAME
	default "NAND" if DISK_DRIVER_FLASH

if DISK_DRIVER_FLASH

config FLASH_MAP
	default y

config FLASH_PAGE_LAYOUT
	default y

config FLASH_LOG_LEVEL
	default 3

endif # DISK_DRIVER_FLASH

endmenu

source "subsys/logging/Kconfig.template.log_config"
source "../u5/app/Kconfig.sample_usbd"
source "Kconfig.zephyr"