

menu "MSC sample options"

choice
	prompt "Storage and file system type used by the application"
	default APP_MSC_STORAGE_FLASH_FATFS
	help
	  Specify the type of storage and file system.

config APP_MSC_STORAGE_FLASH_FATFS
	bool "Use FLASH disk and FAT file system"
	imply DISK_DRIVERS
    imply DISK_ACCESS
	imply FILE_SYSTEM
	imply FAT_FILESYSTEM_ELM
    imply FILE_SYSTEM_MKFS
    imply FS_FATFS_FSTAB_AUTOMOUNT

endchoice

config MASS_STORAGE_DISK_NAME
	default "NAND" if DISK_DRIVER_FLASH

if DISK_DRIVER_FLASH

config FLASH_MAP
	default y

config FLASH_PAGE_LAYOUT
	default y

config FLASH_LOG_LEVEL
	default 3

endif # DISK_DRIVER_FLASH

endmenu