# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

#menu "Zephyr"
#source "Kconfig.zephyr"
#endmenu

module = grinreflex
module-str = grinreflex

source "subsys/logging/Kconfig.template.log_config"
source "Kconfig.zephyr"
rsource "Kconfig.sample_usbd"
rsource "Kconfig.sample_msc"

menu "GrinReflex dk1 settings"

config GRINREFLEX_JPEG_VIDEO
	bool "Enable jpeg video input"
	default y
    depends on BOARD_GRINREFLEX_DK1 || BOARD_GRINREFLEX_DK2

config GRINREFLEX_JPEG_VIDEO_QUALITY
    int "Set jpeg quality, lower value - higher quality"
    default 63
    depends on BOARD_GRINREFLEX_DK1 || BOARD_GRINREFLEX_DK2

config GRINREFLEX_VIDEO_WIDTH
    int "Width of a video frame"
    default 160

config GRINREFLEX_VIDEO_HEIGHT
    int "Height of a video frame"
    default 120

if GRINREFLEX_JPEG_VIDEO
config LV_COLOR_16_SWAP
    bool
    default y
endif


endmenu