/*
 * Copyright (c) 2024, Eve Redero
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>

/ {
	chosen: chosen {
		zephyr,nema = &nema0;
		zephyr,spi1 = &spi1;
		zephyr,usart2 = &usart2;
		zephyr,jpeg = &jpeg0;
	};

	fstab {
		compatible = "zephyr,fstab";

        ffs2: ffs2 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/NAND:";
		};
	};

    flashdisk0: flash-disk {
        compatible = "zephyr,flash-disk";
        flash-controller = <&mx66lm1g45>;
        partition = <&extflash_partition>;
        disk-name = "NAND";
        cache-size = <4096>;
    };

	nema0: nema-gfx {
		compatible = "st,nema-gfx";
		status = "okay";
	};

	jpeg0: jpeg_hw {
		compatible = "st,jpeg-hw";
		dmas = <&gpdma1 2 125 (STM32_DMA_PERIPH_RX | STM32_DMA_PERIPH_32BITS | STM32_DMA_MEM_32BITS)
				&gpdma1 3 124 (STM32_DMA_PERIPH_TX | STM32_DMA_PERIPH_32BITS | STM32_DMA_MEM_32BITS)>;
		dma-names = "tx", "rx";
		status = "okay";
	};
};

&usart2 {
	dmas = <&gpdma1 0 27 (STM32_DMA_PERIPH_TX)
			&gpdma1 1 26 (STM32_DMA_MODE_CYCLIC | STM32_DMA_PERIPH_RX | STM32_DMA_MEM_8BITS)>;
	dma-names = "tx", "rx";
	current-speed = <921600>;
	fifo-enable;
};

&gpdma1 {
	status = "okay";
};