
config STM32_NPU
	bool "Enable app"
	default n
	select USE_STM32_HAL_RAMCFG
	select USE_STM32_HAL_CACHEAXI
	select FPU
	select CMSIS_DSP
	help
		enable application

config NPU_WIDTH
	int "Width of neural network input image"
	default 224
	help
		Width of neural network input image

config NPU_HEIGHT
	int "Height of neural network input image"
	default 224
	help
		Height of neural network input image