/*
 * Copyright (c) 2024, Eve Redero
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>

/ {
	pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&gt911>;
	};
};

/ {
	fstab {
		compatible = "zephyr,fstab";

        ffs2: ffs2 {
			compatible = "zephyr,fstab,fatfs";
			automount;
			disk-access;
			mount-point = "/FLASHDISK:";
		};
	};

    flashdisk0: flash-disk {
        compatible = "zephyr,flash-disk";
        flash-controller = <&mx66lm1g45>;
        partition = <&extflash_partition>;
        disk-name = "FLASHDISK";
        cache-size = <4096>;
    };
};
