/*
 * Copyright (c) 2024, Eve Redero
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>

/ {
	chosen: chosen {
		zephyr,spi1 = &spi1;
		zephyr,usart2 = &usart2;
	};
	uvc: uvc {
		compatible = "zephyr,uvc-device";
	};
};

&gpdma1 {
	status = "okay";
};